---
name: Galaxy-NG Roles Import

on:
  release:
    types: [created, edited, published, released]
  push:
    tags:
      - '*'

permissions: {}

jobs:
  build:
    name: Galaxy Role Importer
    runs-on: ubuntu-latest

    steps:
      - name: 'Checkout git repo'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
        with:
          submodules: true
          fetch-depth: 0

      - name: 'Release on galaxy'
        uses: ansible-actions/ansible-galaxy-action@c1e5763add9e0b2f731541278f10deb3c7ffcdb1
        with:
          galaxy_api_key: ${{ secrets.galaxy_api_key }}
          galaxy_version: 'main'
