---
name: 'Close-stale'
on:
  schedule:
    - cron: '30 1 * * 0'

jobs:
  stale:
    permissions:
      issues: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@a21a0816299b11691f9592ef0d63d08e02f06d9d
        with:
          stale-issue-message: 'This issue is stale because it has been open 30 days with no activity. Remove stale label or comment or this will be closed in 5 days.'
          days-before-stale: 30
          days-before-close: 5
